<?xml version="1.0"?>

<model>
  <name>PhytobiopsyAssembly</name>
  <version>1.0</version>
  <sdf version='1.5'>PhytobiopsyAssembly.sdf</sdf>

  <author>
    <name>Daniel Orol</name>
    <email>danorol@seas.upenn.edu</email>
  </author>

  <description>
    Gripper to collect plant samples.
  </description>
</model>

