<?xml version="1.0"?>
<model>
  <name>UPenn F450</name>
  <version>1.0</version>
  <sdf version='1.4'>f450.sdf</sdf>

  <author>
   <name>Jnaneshwar Das and Anurag Makineni</name>
   <email>jnaneshwar.das@gmail.com</email>
  </author>

  <description>
    This is a model of the DJI f450 Quadrotor with onboard Intel NUC and MatrixVision Bluefox camera, top and down. The original model has been created by Anurag Makineni and Jnaneshwar Das.
  </description>
</model>
